
.btn-menu{
  background:transparent;
  border: 0 none;
  color: #000;
  font-size: 26px;
}

.btn-profile{
  background:transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;

  img{
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
  }
}