.mat-dialog-title{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Poppins', inherit;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom:1px solid #ccc;
}

.alert-text{
  margin-bottom: 25px;
}

.btn-radial{
  font-size: 15px;
  border-radius: 25px;
  padding: 7px 30px;
  min-width: 142px;
  
  &.mat-stroked-button{
    background: transparent;
  }
}

.text-right{
  text-align: right;
}

.btn-wrap{
  button{
    margin-left: 20px;
  }
} 